rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isUser() {
      return request.auth.uid != null;
    }

    match /users/{userId} {
      function isOwner() {
        return request.auth.uid == userId;
      }
      allow read: if isUser();
      allow write: if isOwner();
    }
  }
}
